.wrap {
    padding: 20px;
}

.wrap-bar {
    width: 1000px;
    margin: 0 auto;
}

.wrap-title {
    width: 1000px;
    margin: 0 auto 20px auto;
}

.modal-table-info {
    background-color: #ffffff;
    color: #555;
    text-align: center;
}

.asterisk {
    background: url("../../images/asterisk_img.png") no-repeat;
    background-size: 5px 5px;
    width: 5px;
    height: 5px;
    display: inline-block;
    position: relative;
    bottom: 4px;
}

.modal-table {
    border-collapse: collapse;
    width: 1000px;
    margin: 0 auto;
}

.modal-table > caption {
    text-indent: -9999px;
    line-height: 0px;
}

.modal-table tr, .table td {
    border-top: 1px solid #a3a4a5;
    border-bottom: 1px solid #a3a4a5;
}

.modal-table td {
    padding: 5px;
}

.modal-table tr:first-child {
    width: 190px;
}

.modal-table tr:nth-child(2) {
    width: auto;
}

.wrap-checkbox {
    width: 1000px;
    height: 40px;
    margin: 0 auto;
    line-height: 40px;
}

.modal-footer-left {
    float: left;
    text-align: left;
    margin: auto;
}

.modal-footer-right {
    float: right;
    text-align: right;
}

.wrap-list {
    width: 1000px;
    height: 100px;
    margin: 0 auto;
    border: 1px solid #a3a4a5;
    background-color: #a3a4a5;
    font-size: 10pt;
    color: #fff;
}

.wrap-list > ol {
    list-style: none;
    padding-top: 30px;
}

.wrap-list li {
    text-align: left;
}

input.text {
    height: 30px;
    width: 350px;
    margin: 5px 10px;
}

input.addr1 {
    height: 30px;
    width: 200px;
    margin: 5px 10px;
}

input.addr2, input.toggle, .select {
    height: 30px;
    width: 500px;
    margin: 5px 10px;
}

.custom-input {
    display: none;
}