html, body {
    height: 100%; /* 화면 전체를 채우도록 설정 */
    margin: 0; /* 기본 margin을 없애기 */
    padding: 0; /* 기본 padding을 없애기 */
    overflow-y: auto; /* 콘텐츠가 넘칠 경우 수직 스크롤 표시 */
}

#wrap{
    width: 1000px;
    min-height: 100vh; /* 최소 높이를 화면 높이로 설정 */
}

#wrap-title{
    height: 100px;
}

#wrap, #wrap-table{
    margin: auto;
    text-align: center;
}

#table{
    border-collapse: collapse;
    text-align: center;
    width: 100%;
}

#table>caption{
    text-indent: -9999px;
    line-height: 0;
}

#table tr, #table td{
    border-top: 1px solid #a3a4a5;
    border-bottom: 1px solid #a3a4a5;
    padding: 4px;
    height: 50px;
}

#table tr:first-child{
    background-color: #fff;
    color: #a3a4a5;
}

#table tr:first-child, #table tr:nth-child(2) {
    width: 40px;
}

#table tr:nth-child(3) {
    width: 90px;
}

#table tr:nth-child(4), #table tr:nth-child(6) {
    width: 120px;
}

#table tr:nth-child(5) {
    width: auto;
}

.left{
    float: left;
    text-align: left;
}

.right{
    float: right;
    text-align: right;
}

.height{
    line-height: 100px;
}

#wrap-list{
    height: 100px;
    border: 1px solid #a3a4a5;
    background-color: #a3a4a5;
    font-size: 10pt;
    color: #fff;
}

#wrap-list>ol{
    list-style: none;
    padding-top: 30px;
}

#wrap-list li{
    text-align: left;
}
