.category-menu {
    background-color: #f8f9fa;
    border: 1px solid #ddd;
    padding: 15px;
}
.heart-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    color: #ccc;
    z-index: 10;
    transition: color 0.3s ease;
}
.bi-heart-fill {
    color: red;
}
.bi-heart {
    color: #ccc;
}
.category-header {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
}

.category-buttons .btn {
    font-size: 12px;
    margin-right: 5px;
    margin-bottom: 5px;
}

.thumbnail img {
    max-width: 100%;
    height: auto;
}

.thumbnail .info {
    font-size: 12px;
    margin-top: 10px;
}

.heart-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    color: #ccc;
    z-index: 10;
    transition: color 0.3s ease;



}

.heart-icon.bi-heart-fill {
    color: red; /* 하트 내부 빨간색 */


}
#additionalImagesPreview img {
    margin: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

/* 해쉬태그관련 */
#hashtagList .badge {
    margin-right: 5px;
    padding: 5px 10px;
    border-radius: 15px;
    font-size: 0.9rem;
}
#hashtagList .badge:hover {
    background-color: #e74c3c;
    color: #fff;
    cursor: pointer;
}


.post-grid .col {
    position: relative; /* 아이콘의 기준을 이미지로 설정 */
    overflow: hidden;
}

.post-grid .col:nth-child(3n) {
    margin-right: 0; /* 한 줄의 마지막 요소는 오른쪽 간격 제거 */
}

.post-grid img {
    width: 307px;
    height: 307px;
    object-fit: cover;
    border-radius: 5px;
}

