<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <environments default="development">  <!-- ✅ 환경 ID 설정 -->
        <environment id="development">  <!-- ✅ 환경 ID 설정 -->
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://43.201.217.68:3306/shop?useUnicode=true&amp;characterEncoding=UTF-8&amp;serverTimezone=Asia/Seoul&amp;allowPublicKeyRetrieval=true"/>
                <property name="username" value="team_user"/>
                <property name="password" value="Faker@12345"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="mybatis/mapper/customer.xml"/>
        <mapper resource="mybatis/mapper/inventory.xml"/>
        <mapper resource="mybatis/mapper/product.xml"/>
        <mapper resource="mybatis/mapper/category.xml"/>
        <mapper resource="mybatis/mapper/order.xml"/>
        <mapper resource="mybatis/mapper/question.xml"/>
        <mapper resource="mybatis/mapper/seller.xml"/>
        <mapper resource="mybatis/mapper/sales.xml"/>
        <mapper resource="mybatis/mapper/coupon.xml"/>
    </mappers>
</configuration>