
    /* 테이블의 레이아웃을 고정하여 각 열이 비례적으로 배분되지 않고 고정된 크기를 가지도록 설정 */
table {
    table-layout: fixed;
    width: 100%; /* 테이블 전체의 너비 */
}



th, td {
    padding: 8px 20px;
    text-align: center; /* 중앙 정렬 */
    word-wrap: break-word; /* 긴 텍스트 줄바꿈 방지 */
}

/* 열에 대한 너비를 고정적으로 설정 */
th:nth-child(1), td:nth-child(1) {
    width: 10%;
}
th:nth-child(2), td:nth-child(2) {
    width: 10%;
}
th:nth-child(3), td:nth-child(3) {
    width: 10%;
}
th:nth-child(4), td:nth-child(4) {
    width: 10%;
}
th:nth-child(5), td:nth-child(5) {
    width: 10%;
}
th:nth-child(6), td:nth-child(6) {
    width: 10%;
}
th:nth-child(7), td:nth-child(7) {
    width: 10%;
}
th:nth-child(8), td:nth-child(8) {
    width: 10%;
}
th:nth-child(9), td:nth-child(9) {
    width: 15%;
}
th:nth-child(10), td:nth-child(10) {
    width: 8%;
}
th:nth-child(11), td:nth-child(11) {
    width: 8%;
}
th:nth-child(12), td:nth-child(12) {
    width: 10%;
}
th:nth-child(13), td:nth-child(13) {
    width: 10%;
}
th:nth-child(14), td:nth-child(14) {
    width: 10%;
}
th:nth-child(15), td:nth-child(15) {
    width: 10%;
}
th:nth-child(16), td:nth-child(16) {
    width: 10%;
}

