.container {
    width: 800px !important;
    position: relative;
    margin: 0 auto;
}

.timer-container {
    position: absolute;
    top: 20px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

svg {
    position: absolute;
    width: 100%;
    height: 100%;
}

.circle-bg {
    fill: none;
    stroke: #e6e6e6;
    stroke-width: 12;
}

.circle-progress {
    fill: none;
    stroke: black;
    stroke-width: 12;
    stroke-linecap: round;
    transition: stroke-dashoffset 1s linear;
}

.number {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 12px;
    color: black;
    text-align: center;
}

@keyframes sizeChange {
    0%, 100% {
        font-size: 40px;
    }
    50% {
        font-size: 35px;
    }
}

.order-completed {
    height: 500px;
}

.completed-text {
    text-align: center;
    line-height: 500px;
    font-weight: bold;
    animation: sizeChange 1s infinite ease-in-out;
}

/* 주문 상세 내역 */
.order-details-container {
    margin-top: 20px;
}

.order-details-title {
    font-size: 22px;
    font-weight: bold;
    padding: 10px 0;
}

.delivery-info, .product-section, .payment-info, .benefits-info {
    background-color: #fff;
    margin: 10px 0;
    padding: 15px 0;
}

.delivery-info .info-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
}

.delivery-info .name {
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 0;
}

.phone {
    margin-top: 10px;
    margin-bottom: 5px;
}

.address-row p.address {
    margin-bottom: 5px;
}

.address-row p.request {
    margin-top: 10px;
    margin-bottom: 0;
    color: #878686;
}

.product-section h5, .benefits-info h5 {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 10px;
}

.payment-info h5 {
    font-size: 15px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}

.payment-list h5 {
    font-size: 13px;
}

.accordion, .accordion-item {
    border: none;
}

.accordion-button {
    padding: 0;
}

.accordion-button:focus {
    background-color: #fff;
    box-shadow: none;
}

.accordion-body {
    padding: 0;
}

.product-item {
    display: flex;
    align-items: flex-start;
    margin: 10px 0;
    padding: 10px 0;
}

.product-img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    margin-right: 15px;
}

.product-details {
    flex: 1;
}

.product-name {
    font-size: 0.9rem;
    color: #555;
    margin: 5px 0;
}

.product-price-row {
    font-weight: bold;
    font-size: 1rem;
    color: #000;
}

.payment-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.payment-list li {
    display: flex;
    justify-content: space-between;
    padding: 8px 0;
}

.payment-list li:last-child {
    border-bottom: none;
}

.discount {
    color: #e74c3c;
}

.final-price {
    font-weight: bold;
    font-size: 14px;
    color: #007bff;
}

.benefits-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 8px;
}

.svg-icon {
    margin-left: 5px;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
}

.svg-icon svg {
    width: 10px;
    height: 10px;
}

.benefits-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.benefits-list li {
    display: flex;
    justify-content: space-between;
    padding: 8px 0;
}

.benefits-list li:last-child {
    border-bottom: none;
}

.result-benefits {
    font-weight: bold;
}

.product-actions {
    display: flex;
    gap: 10px;
}

.product-actions .btn {
    flex: 1;
}

.product-actions .btn-outline-secondary:hover, .product-actions .btn-outline-secondary:active {
    background-color: #fff !important;
    color: #6c757d !important;
}

.product-actions .btn-btn-dark:hover, .product-actions .btn-btn-dark:active {
    background-color: #000 !important;
    color: #fff !important;
}

/* 배송지 변경 modal */
#completedDeliveryModal .modal-content {
    padding: 20px;
    border-radius: 8px;
    background-color: #fff;
    font-family: Arial, sans-serif;
}

#completedDeliveryModal .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}

#completedDeliveryModal .modal-title {
    font-size: 18px;
    font-weight: bold;
}

#completedDeliveryModal .close {
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
}

.add-address-btn {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #f8f9fa;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 20px;
    border-radius: 5px;
}

.add-address-btn:hover {
    background-color: #fff !important;
    color: #000 !important;
}

.address-item:not(:last-child) {
    margin-bottom: 20px;
}

.address-item input[type="radio"] {
    margin-right: 10px;
    cursor: pointer;
    position: relative;
    bottom: 20px;
}

.address-item label[for="address0"] {
    margin-bottom: 0;
}

.address-name {
    font-size: 14px;
    font-weight: bold;
    margin-right: 10px;
}

.default-label {
    font-size: 12px;
    color: #888;
    background-color: #f1f1f1;
    padding: 2px 6px;
    border-radius: 4px;
}

.address-detail {
    font-size: 14px;
    color: #333;
    margin-top: 5px;
    margin-bottom: 5px;
}

.deli-phone {
    margin-bottom: 0;
}

#completedDeliveryModal .action-buttons {
    margin-top: 10px;
    display: flex;
    gap: 10px;
}

.edit-btn, .delete-btn {
    padding: 5px 10px;
}

.modal-footer {
    text-align: center;
}

.confirm-btn {
    padding: 10px;
    width: 100%;
}

.confirm-btn:hover {
    background-color: #000 !important;
    color: #fff !important;
}
