.container {
    width: 1200px !important;
}

.error-message {
    line-height: 500px;
    font-size: 35px;
    text-align: center;
}

.error-message i {
    line-height: 500px;
}

.error-text {
    line-height: 500px;
    font-size: 35px;
}